<div class="sidebar-card">
  <div class="heading">
  </div>
  <div class="body">

    <div class="dropdown">
      <div class="dropdown-toggle" id="filter-node-select" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="search-input">
          <input class="form-control" type="text" [value]="nodeSelectsFilterText2">         
          <img *ngIf="loading" width="20px" src="../../assets/images/loader_small.gif" />
        </div>        
      </div>

      <ul class="dropdown-menu" aria-labelledby="filter-node-select">
        <div class="body">
          <div class="search-options" style="width: 150%;">   
            <div class="">
              <input class="form-control" type="text" placeholder="Search Pair Type3" [(ngModel)]="nodeSelectsFilterText1">
              <span class="fa fa-search"></span>
            </div>

            <li *ngFor="let node_select3 of node_selects3 | PairTypeFilterPipe:nodeSelectsFilterText1; let i = index" (click)="selectNode3(node_select3.nnrt_id, node_select3.pair_name)">
              {{ node_select3.pair_name }}
            </li>
          </div>
        </div>
      </ul>
      <!-- <span *ngIf="node_selects.length > 2" style="cursor: pointer" class="text-white float-right"
        (click)="SeeMore($event,seeMoreGeneModal);">
        See More Pair Type</span> -->
      <!-- <img *ngIf="loading" width="20px" src="../../assets/images/loader_small.gif" /> -->
    </div>

    <!-- <div class="search-input">
      <select name="" id="" class="form-control" (change)="selectNode3($event)">
        <option value="" select>Please choose Pair</option>
        <option *ngFor="let node_select3 of node_selects3; let i = index" 
        [value]="node_selects3[i].nnrt_id" [selected]="(node_selects3[i].nnrt_id==selectedNodeSelects3?'selected':'')">
        {{ node_select3.pair_name }}
        </option>
      </select>
      <img *ngIf="loading" width="20px" src="../../assets/images/loader_small.gif" />
    </div> -->
  </div>
</div>
