<div class="sidebar-card">  
  <div class="dropdown">
    <div class="dropdown-toggle" id="source-node-filter2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      <div class="body">
        <div class="search-input">
          <input class="form-control" type="text" placeholder="Search Source level3" aria-label="Search" [(ngModel)]="sourceNodeFilter"/>
          <span *ngIf="selectedSourceNodes3.length > 0" class="reset-search" style="margin-right:50px;">[Selected:
            {{selectedSourceNodes3.length}}]</span>
          <img *ngIf="loading" src="../../assets/images/loader_small.gif" width="20px"/>
            <span *ngIf="selectedSourceNodes3.length > 0" class="reset-search"
              (click)="resetSourceNode();" title="RESET INPUT-1"><i class="bi bi-x-circle"></i></span>
          </div>
      </div>
    </div>

    <ul class="dropdown-menu" aria-labelledby="source-node-filter2"> <!--//Show autosuggest source dropdown Action//-->
      <!-- *ngIf="showSourceBody" -->
      <div class="body">
        <div *ngIf="sourceNodes3.length">
          <div class="search-options">

            <button class="btn btn-outline-primary bg-white btn-sm text-primary" style="position: fixed;opacity:1;z-index: 9;right: 36px; padding: 4px 8px;" [disabled]="disableProceed" (click)="seeMoreproceed()"><i class="bi bi-arrow-right-circle-fill" title="Proceed"></i></button>

            <input type="checkbox" name="edgeTypes" [(ngModel)]="isAllSelected" [value]="sourceNodes3" [checked]=""
              (change)="selectAll();">
            <span class="custom-control-description text-dark">&nbsp;Select All</span>

            <div class="mb-1 form-check" *ngFor="let sourceNode of sourceNodes3 | SourceNodeFilterPipe:sourceNodeFilter">
              <input class="form-check-input border border-secondary" type="checkbox" name="sourceNodes3"
                 [value]="sourceNode"
                [checked]="selectedSourceNodes3.indexOf(sourceNode.source_node)>-1 "
                (change)="selectSourceNode(sourceNode,$event)">
              <label class="form-check-label pe-4">{{sourceNode.source_node_name}}</label>
            </div>
          </div>
        </div>
      </div>
    </ul>    
  </div>
</div>

<ng-template #warning let-c="close" let-d="dismiss">
  <div class="modal-header modal-lg" style="background: #ff0c66 !important;">
    <h4 class="modal-title text-white">Warning</h4>
    &nbsp;
    <button class="close text-light" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body white_bg without_bord_rad">
    <h6 style="color:#ff0c66">You unchecked the "Select All" option. If you will Proceed with this then result-set
      of
      with all gene(s).
      Otherwise you may choose indications and proceed.</h6>
    <div class="pull-right">
      <button class="btn btn-hero-info btn-demo" (click)="closePopup()">Okay</button>
    </div>
  </div>
</ng-template>
