.text-white {
    color: #fff;
}

.close {
    opacity: 1;
}

.modal-header {
    padding: 7px 20px;
    border: none;
    background: #7d689f;

    h4 {
        font-size: 20px;
        margin-top: 0px;
    }
}

.filter-single-left {
    h4 {
        font-size: 16px;
        padding: 10px 15px;
        color: #fff;
        border-bottom: 1px solid #1767c5;
    }

    .filter-single-body {
        padding: 10px 15px;

        .custom-control-description {
            font-size: 13px;
        }
    }

    .search-box {
        position: relative;
        margin-bottom: 10px;

        input {
            font-size: 13px;
            border-radius: 5px;
        }

        span {
            position: absolute;
            right: 10px;
            top: 12px;
            font-size: 14px;
            color: #606060;
        }
    }
}

.highlight-test{
    -webkit-box-shadow:0 0 0 1px 3px #32404e inset;
    -moz-box-shadow:0 0 0 1px 3px #32404E inset;
    // border:1px solid #B765A3;
    box-shadow: 10px 10px 18px hsl(0, 54%, 93%);
    // transform: scale(5.5);
    // transform: rotateY(0deg) rotate(360deg); /* needs Y at 0 deg to behave properly*/
    // transition: transform 3s;
}
