<div class="card-panel-box">
    <div class="card-panel-box-heading">
        Distinct values of NCT by Investigator Name
        <i class="bi-arrows-expand" [hidden]="!hideCardBody" (click)="reloadInvestigatorName()"
            style="position: absolute;right: 20px;color: white;"></i>

        <i class="bi-arrows-collapse" [hidden]="hideCardBody" (click)="reloadInvestigatorName()"
            style="position: absolute;right: 20px;color: white;"></i>
    </div>
    <div class="card-panel-box-detail" [hidden]="hideCardBody">
        <div class="customTable">
            <div class="" *ngIf="loadingCTInvestigatorName">
                <!-- <span class="bi-gear bi--spin"></span> -->
                <img width="20px" src="../../assets/images/loader_medium.gif" />
                &nbsp;Loading...
            </div>
            <!-- <div class="overlay" *ngIf="loadingCTInvestigatorName">
                <img style="margin:185px 653px;" src="../../assets/images/loader_big.gif" />
            </div> -->
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive-lg custom-fixed-header-table" style="max-height:400px; overflow-y: scroll;">
                        <table id="CT_Investigator_name_data" data-toolbar="#toolbar" data-search="true"
                            data-show-export="true" data-show-columns="true" data-page-size="50"
                            data-filter-control="true" data-page-list="[10, 25, 50, 100, All]">
                            <thead>
                                <tr>
                                    <th data-field="investigator_name" data-sortable="true" data-visible="true"
                                        data-filter-control="input" width="3%">
                                        Name</th>
                                    <th data-field="count_nct_ids" data-sortable="true" data-filter-control="select"
                                        width="12%">
                                        Distinct values of Nct ID</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>