<div class="card-panel-box mb-2">
    <div class="customTable" style="border: 1px solid #ddd;">
        <div class="text-muted fs-2 text-center mb-4">Please select entities to check clinical Trial Details</div>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <app-ct_disease_assoc></app-ct_disease_assoc>
    </div>
</div>

<div class="row mb-2">
    <div class="col">
        <app-ct_investigator_rels></app-ct_investigator_rels>
    </div>
</div>

<!-- <div class="row mb-2">

    <div class="col-8 mr-2">
        <app-investigator-by-role></app-investigator-by-role>
    </div>

    <div class="col-4">
        <app-nct-investigator-name></app-nct-investigator-name>
    </div>

</div> -->

<!-- <div class="row">
    <div class="col">
        <app-investigator-by-country></app-investigator-by-country>
    </div>
</div> -->