<div class="sidebar-card">
  <div class="dropdown">
    <div class="dropdown-toggle" id="edge-type-filter" data-bs-toggle="dropdown" aria-expanded="false"
      data-bs-auto-close="outside">
      <div class="body">
        <div class="search-input" appClickDirective>
          <input class="form-control" type="text" value="{{selectedEdgeTypesNames.join(', ')}}"
            placeholder="Search Edge Type First Degree" aria-label="Search" [(ngModel)]="edgeTypeFilter" />
          <img *ngIf="loading" src="../../assets/images/loader_small.gif" width="20px" />
        </div>
      </div>
    </div>
    <ul class="dropdown-menu" aria-labelledby="edge-type-filter">
      <div class="body">
        <div *ngIf="edgeTypes.length">
          <div class="search-options">
            <input type="checkbox" name="edgeTypes" class="form-check-input" [(ngModel)]="isAllSelected" [value]="edgeTypes" [checked]=""
              (change)="selectAll();">
            <span class="custom-control-description text-dark" >&nbsp;Select All</span>

            <button class="btn btn-outline-primary" style="float: right;" [disabled]="disableProceed" (click)="seeMoreproceed()"><i class="bi bi-arrow-right-square" title="Proceed"></i></button>

            <div class="mb-1 form-check" *ngFor="let edgeType of edgeTypes | EdgeTypeFilterPipe:edgeTypeFilter">
              <input class="form-check-input border border-secondary" type="checkbox" name="edgeTypes"
                [value]="edgeTypes" [checked]="selectedEdgeTypesByGroup.indexOf(edgeType.edge_group_id)>-1 "
                (change)="selectEdgeType(edgeType,$event)">
              <label class="form-check-label" style="font-size: 13px;">
                {{edgeType.edge_group_name}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>