.navbar-light .navbar-nav .nav-link {
	color: #1E2661 !important;
}

.two-side-wrapper {
	display: flex;
	background: #f8f9fa;
}

.two-side-wrapper .left-filter-panel {
	width: 330px;
	min-width: 330px;
	max-width: 330px;
	padding: 20px;
}

.two-side-wrapper .right-detail-panel {
	width: 100%;
	padding: 20px;
}

.bs-bars {
	display: none;
}

// .event-desc-wrapper {
// 	max-height: calc(100vh - 239px);
// 	overflow: auto;
// }

.card-panel-box {
	margin-bottom: 20px;
	// box-shadow: 0px 1px 5px #ddd;
	background: var(--background-color);
}

.card-panel-box .card-panel-box-heading {
	font-size: 17px;
	padding: 7px 15px;
	background: #7880BA;
	color: #fff;
}

.card-panel-box .card-panel-box-detail {
	padding: 20px;
}

.card-panel-box .card-panel-box-detail .search-input {
	margin-bottom: 10px;
}

.card-panel-box .card-panel-box-detail .search-input input:focus {
	border: 1px solid #187ebc;
	outline: none;
	box-shadow: none;
}

.card-panel-box .card-panel-box-detail .checkbox-group .form-check {
	margin-bottom: 3px;
}

.heat-maps {
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.heat-maps .card-panel-box {
	width: 32%;
}

.nowrap {
	white-space: nowrap;
}

.overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 65px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 9999;
	padding-top: 10px;
}

.search-results {
	height: 100%;
}

.loadMoreBtn {
	margin: 0px 0;
	padding: 5px;
	width: 150px;
	border-radius: 15px;
	border: none;
	background-color: #B765A3;
	cursor: pointer;
	color: #fff;
}

.saveFilterBtn {
	padding: 5px;
    width: 125px;
    border-radius: 15px;
    border: none;
    background-color: #B765A3;
    cursor: pointer;    
    color: #000;
}

.level1-title {
    background-color: #6C7572;
    border-radius: 5px;
    padding: 1px !important;
    margin: 2px;
    position: absolute;
    font-size: 12px;
}

.level2-title {
    background-color: #6C7572;
    border-radius: 5px;
    padding: 1px !important;
    margin: 2px 188px;
    font-size: 12px;
    position: absolute;
}

.level3-title {
    background-color: #6C7572;
    border-radius: 5px;
    padding: 1px !important;
    margin: 2px 390px;
    font-size: 12px;
    position: absolute;
}

.save-query-top-btn{
	position: absolute;
    right: 15px;
    top: 0;
}
.save-query{
	margin: -52px -283px 10px 10px;
	padding: 6px;
	width: 126px;
	border-radius: 14px; 
	border: navajowhite;
	background-color: #B765A3;
	cursor: pointer;
}






.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
	margin:137px 25px;
	z-index: 9;
}

.ring {
    width: 200px;
    height: 200px;
    border: 0px solid #011015;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: rgb(132, 80, 132);
    animation: rotate1 2s linear infinite;
	box-shadow: 0 0 0 5px #93ff2d33,
	0 0 0 10px #c9cfc322,
	0 0 0 20px #e0e6da11,
	0 0 20px #b0b743,
	0 0 50px #b0b743;
}

.ring:nth-child(2) {
    border-right-width: 8px;
    border-color: rgb(0, 247, 255);
    animation: rotate2 2s linear infinite;
	box-shadow: 0 0 0 5px #93ff2d33,
	0 0 0 10px #12240222,
	0 0 0 20px #93ff2d11,
	0 0 20px #0e21ae,
	0 0 50px #4214b6;
}

.ring:nth-child(3) {
    border-top-width: 8px;
    border-color: rgb(0, 255, 13);
    animation: rotate3 2s linear infinite;
	box-shadow: 0 0 0 5px #93ff2d33,
	0 0 0 10px #93ff2d22,
	0 0 0 20px #93ff2d11,
	0 0 20px #af475c,
	0 0 50px #cf4f8d;
}
.loading{
	position: absolute;
    color: #000;
	animation: animate 2s linear infinite;
	white-space: nowrap;
	letter-spacing: 5px;
}

@keyframes animate {
    50% {
        transform: rotateX(25deg) rotateY(-55deg) rotateZ(0deg);
		width:10;
    }
    // 70%,90% {
    //     transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	// 	// width:100%;
    // }
}

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
