<div class="stats-landing">
    <app-header></app-header>

    <section class="stats-wrapper">
        <div class="page-wrapper">

            <div class="container">

                <div class="row">
                    <div class="graphs-box">
                        <div class="polaroid" id="network_map_card">
                            <img src="./assets/images/Target-Disease-Association-blue.png" alt="">

                            <div class="target_page">
                                <h6>Knowledge Graph</h6>
                            </div>

                            <a class="nav-link active text-light" [routerLink]="['/dashboard']">
                                <div class="overlay">
                                    <div class="text">
                                        Click To Enter
                                    </div>
                                </div>
                                <div class="card_bottom">&nbsp;</div>
                            </a>
                        </div>
                        <div class="right-top-card">
                            <p class="text-wrap">
                                Knowledge graph represents a collection of interlinked information of concepts,
                                entities, relationships and events through semantic logics and provides a framework for
                                data integration, unification and analytics.
                            </p>
                        </div>
                    </div>

                    <div class="graphs-box">
                        <div class="polaroid" id="gene_analysis_card">
                            <img src="./assets/images/BR-Analysis-blue.png" alt="">

                            <div class="target_page">
                                <h6>Gene Analysis</h6>
                            </div>
                            <a class="nav-link active text-light" [routerLink]="['/bio_infomatics']">
                                <div class="overlay">
                                    <div class="text">
                                        Click To Enter
                                    </div>
                                </div>
                                <div class="card_bottom">&nbsp;</div>
                            </a>
                        </div>
                        <div class="right-top-card">
                            <p class="text-wrap">
                                A collection of different Bioinformatics tools for tertiary gene analysis integrating
                                the statistical approaches and network biology algorithms. It helps to understand the
                                topological features in the Protein-protein interaction network and the overall
                                functional association of the genes.
                            </p>
                        </div>
                    </div>

                    <div class="graphs-box">
                        <div class="polaroid" id="search_card">
                            <img src="./assets/images/Drug-Target-List-blue.png" alt="">

                            <div class="target_page">
                                <h6>XplorXcel</h6>
                            </div>
                            <a class="nav-link active text-light" target="_blank"
                                        href="http://150.136.91.243:8887/login/?username=hsharma&password=test@123">
                            <div class="overlay">
                                <div class="text">
                                    Click To Enter
                                </div>
                            </div>
                            <div class="card_bottom">&nbsp;</div>
                            </a>
                        </div>

                        <div class="right-top-card">
                            <p class="text-wrap">
                                Scientific literature comprises academic papers that report original empirical and
                                theoretical work and accessing primarily <strong>6.7
                                    Million</strong> abstracts on life sciences and biomedical topics
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ********************************************************* -->

    </section>

    <section>
        <div id="demo" class="index-carousel carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/images/carousel_img7.jpg" alt="" class="d-block img-fluid opacity w-100">
                    <div class="carousel-caption carousel-caption-margin">
                        <p style="font-size: 24px;">
                            Scientific literature comprises academic papers that report original
                            empirical and theoretical work and accessing primarily <strong><span
                                    style="color: #D8DBEB;font-size: 30px;font-style: italic;"><u>6.7
                                        Million</u></span></strong> abstracts on life sciences and
                            biomedical topics
                        </p>
                    </div>
                    <!-- <div class="stat-box d-block w-100" style="color:#fff;">
                            <h1>6.7M</h1>
                        </div> -->
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/carousel_img3.jpg" alt="" class="d-block img-fluid opacity w-100">
                    <div class="carousel-caption carousel-caption-margin">
                        <h1 class="display-4"><strong>28,680,943</strong></h1>
                        <h3>Total Number of Connections</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./assets/images/carousel_img4.jpg" alt="" class="d-block img-fluid opacity w-100">
                    <div class="carousel-caption carousel-caption-margin">
                        <h1 class="display-4"><strong>111,000</strong></h1>
                        <h3>Count of Disease</h3>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="./assets/images/carousel_img5.jpg" alt="" class="d-block img-fluid opacity w-100">
                    <div class="carousel-caption carousel-caption-margin">
                        <h1 class="display-4"><strong>42,486</strong></h1>
                        <h3>Count of Gene</h3>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="./assets/images/carousel_img6.jpg" alt="" class="d-block img-fluid opacity w-100">
                    <div class="carousel-caption carousel-caption-margin">
                        <h1 class="display-4"><strong>42,486</strong></h1>
                        <h3>Count of Edge Type</h3>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="./assets/images/login-background1.jpg" alt="" class="d-block img-fluid opacity w-100">
                    <div class="carousel-caption carousel-caption-margin">
                        <h1 class="display-4"><strong>42,486</strong></h1>
                        <h3>Count of Drug</h3>
                    </div>
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </section>


    <section class="video-player">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <video width="100%" autoplay controls muted>
                        <source src="./assets/video/user-manual.mp4" type="video/mp4" />
                    </video>
                </div>
                <div class="col-md-5 offset-md-1">
                    <h4 class="mb-3">User Manual to Use the Application</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>