<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>
      Employee
    </mat-label>
    <input formControlName="employee" matInput type="text" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of filteredOptions" [value]="item">
        {{item}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<!--<mat-form-field class="example-full-width">
	<input type="text" placeholder="Select Users" aria-label="Select Users" matInput [matAutocomplete]="auto" [formControl]="userControl">
  <mat-hint>Enter text to find users by name</mat-hint>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
	<mat-option *ngFor="let user of filteredUsers | async" [value]="selectedUsers">
		<div (click)="optionClicked($event, user)">
			<mat-checkbox [checked]="user.selected" (change)="toggleSelection(user)" (click)="$event.stopPropagation()">
				{{ user.firstname }} {{ user.lastname }}
			</mat-checkbox>
		</div>
	</mat-option>
</mat-autocomplete>

<br><br>

<label>Selected Users:</label>
<mat-list dense>
	<mat-list-item *ngIf="selectedUsers?.length === 0">(None)</mat-list-item>
	<mat-list-item *ngFor="let user of selectedUsers">
		{{ user.firstname }} {{ user.lastname }}
	</mat-list-item>
</mat-list>-->




<!--<div class="sidebar-card">
  <div class="heading">
      <h4>Level 1 Relation</h4>
  </div>
  <div class="body">
      <div class="mb-1 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Activation</label>
      </div>
      <div class="mb-1 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck2">
          <label class="form-check-label" for="exampleCheck2">Inhibation</label>
      </div>
      <div class="mb-1 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck3">
          <label class="form-check-label" for="exampleCheck3">Inhibation</label>
      </div>
  </div>
</div>-->


<!--<div class="sidebar-card">
  <div class="heading">
      <h4>Source Nodes here</h4> <img *ngIf="loading" src="../../assets/images/small-loader.gif" width="18px" />
  </div>
  <div class="body" *ngIf="sourceNodes.length > 0" style="height: 150px;overflow: auto;">
      
      <div class="search-input">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="sourceNodeFilter" />
      </div>

      <div class="mb-1 form-check" *ngFor="let sourceNode of sourceNodes | SourceNodeFilterPipe:sourceNodeFilter">
        <input class="form-check-input" type="checkbox" name="sourceNodes" id="defaultCheck1" [value]="sourceNode"
          [checked]="selectedSourceNodes.indexOf(sourceNode.source_node)>-1 " (change)="selectSourceNode(sourceNode,$event)">
        <label class="form-check-label" for="defaultCheck1">
          {{sourceNode.source_node_name}}
        </label>
      </div>

      <span *ngIf="selectedSourceNodes.length > 0" style="cursor: pointer; float:right;" class="float-left"
        (click)="resetSourceNode();">Reset</span>
      <span *ngIf="sourceNodes.length > 2" style="cursor: pointer" class="float-right"
        (click)="SeeMore($event,seeMoreSourceNodeModal);">{{sourceNodes.length-10}}
        More</span>
  </div>
</div>-->


<!--<div class="card-panel-box-detail" *ngIf="sourceNodes.length <= 0">
  <div class="" *ngIf="(sourceNodesCheck==false)">
    <i (click)="reloadNode()" style="color:white; cursor: pointer;" title="Reload" class="fa fa-refresh">&nbsp;
      Click here to load Nodes</i>
  </div>
  <div *ngIf="(sourceNodesCheck==true)">
    <i style="color:white" title="Reload">&nbsp;
      No news exists for any node</i>
  </div>
</div>-->


<!--<ng-template #nodeSelectsWarningModal let-c="close" let-d="dismiss">
  <div class="modal-header    modal-lg" style="background: #ff0c66 !important;">
    <h4 class="modal-title">Warning</h4>
    &nbsp;
    <button class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body white_bg without_bord_rad">
    <h6 style="color:#ff0c66">You unchecked the "Select All" option. If you will Proceed with this then result-set
      of
      with all gene(s).
      Otherwise you may choose indications and proceed.</h6>
    <div class="pull-right">
      <button class="btn btn-hero-info btn-demo" (click)="closePopup()">Okay</button>
    </div>
  </div>
</ng-template>

<ng-template #seeMoreSourceNodeModal let-c="close" let-d="dismiss">
  <div class="modal-body without_bord_rad indicators-modal">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-12">
          <h6 class="text-white">Select Source Nodes
            <span aria-hidden="true" aria-label="Close" (click)="seeMoreClosePopup()"
              class="close pull-right">&times;</span>
            <div class="clearfix"></div>
          </h6>
        </div>
        <div class="col-md-12">
          <div class="indicator_search">
            <input class="form-control" type="text" [(ngModel)]="sourceNodeFilterText">
            <span class="fa fa-search "></span>
          </div>

          <div class="indicator_alpha">
            <span *ngFor="let sourceNodes of alphabeticallyGroupedSourceNodes">
              <span class="text-white" (mouseleave)="mouseOverON=''" (mouseover)="mouseOverON =sourceNodes.key"
                (click)="scrollToView(sourceNodes.key)">{{sourceNodes.key}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-modal-body">
      <div class="my-div-content singleIndicatorFilter" id="{{sourceNodes.key}}"
        [ngClass]="(mouseOverON==sourceNodes.key ) ?'cls-highlight':''"
        *ngFor="let sourceNodes of alphabeticallyGroupedSourceNodes">
        <div class="two-column_popup demo-checkboxes-radio"
          *ngFor="let sourceNode of sourceNodes.value | SourceNodeFilterPipe:sourceNodeFilterText">

          <input type="checkbox" name="sourceNodes" [value]="sourceNode"
            [checked]="selectedSourceNodes.indexOf(sourceNode.source_node)>-1 " (change)="selectSourceNode(sourceNode,$event,'nodeSelectsWarningModal')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description text-dark">&nbsp;&nbsp;{{sourceNode.source_node_name}}</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="modal-footer">
      <div class="demo-checkboxes-radio">
        <input type="checkbox" name="sourceNodes" [(ngModel)]="isAllSelected" [value]="sourceNodes" [checked]=""
            (change)="selectAll($event,nodeSelectsWarningModal);">
        <span class="custom-control-description text-dark">&nbsp;Select All</span>
    </div>
      <button class="btn btn-outline-primary" [disabled]="disableProceed" (click)="seeMoreproceed()">Proceed</button>
      <button class="btn btn-danger" (click)="seeMoreClosePopup()">Close</button>
    </div>
  </div>
</ng-template>-->
