<div class="stats-landing">
    <app-header></app-header>

    <section class="dashboard-main-wrapper">

        <div class="horizontal-filters-wrapper pt-1 pb-1">
            <!-- First Degree -->
            <div class="horizonal-filter-bar">
                <div class="filter-inner" style="width: 98%;">
                    <div class="filter-left-heading" style="font-size:16px;">
                        1<sup>st</sup> Degree
                    </div>
                    <div class="filter-single" style="width:15%;">
                        <app-filter-node-select (onSelectNode)='nodeChanged($event)'></app-filter-node-select>
                    </div>
                    <div class="filter-single" style="width:30%;">
                        <app-filter-source-node (onSelectSourceNode)='sourceNodeChanged("sourceNodeFilter" , $event)'
                            [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-source-node>
                    </div>
                    <div class="filter-single" style="width:25%;">
                        <app-filter-edge-type (onSelectEdgeType)='edgeTypeChanged("edgeTypeFilter")'
                            [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-edge-type>
                    </div>
                    <div class="filter-single" style="width:30%;">
                        <app-filter-destination-node
                            (onSelectDestinationNode)='destinationNodeChanged("destinationNodeFilter")'
                            [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-destination-node>
                    </div>
                </div>
                <!-- <div style="width: 2%; position: absolute;right: 0;top: 62px;">
                    &nbsp;</div> -->
            </div>

            <!----------------------------------- Second Degree -------------------------------------->
            <div [ngStyle]="{'display' : showLevels == false ? 'none' : 'block'}">
                <div *ngIf="currentLevel > 1" class="horizonal-filter-bar" style="width: 98%;margin-top:15px;">
                    <div class="filter-inner">
                        <div class="filter-left-heading" style="font-size:16px;">
                            2<sup>nd</sup> Degree
                            <span *ngIf="currentLevel == 2" style="cursor: pointer;"
                                (click)="deleteSecondDegree('deleteLevel2')" title="Delete Second Degree">
                                <i class="bi bi-trash3"></i>
                            </span>
                        </div>
                        <div class="filter-single" style="width:15%;">
                            <app-filter-node-select-level2 (onSelectNode2)='nodeChanged2("nodeLevel2Filter")'
                                [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-node-select-level2>
                        </div>
                        <div class="filter-single" style="width:30%;">
                            <app-filter-source-node-level2
                                (onSelectSourceNode2)='sourceNodeChanged2("sourceNode2Filter" , $event)'
                                [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-source-node-level2>
                        </div>
                        <div class="filter-single" style="width:25%;">
                            <app-filter-edge-type-level2 (onSelectEdgeType2)='edgeTypeChanged2("edgeType2Filter")'
                                [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-edge-type-level2>
                        </div>
                        <div class="filter-single" style="width:30%;">
                            <app-filter-destination-node-level2
                                (onSelectDestinationNode2)='destinationNodeChanged2("destinationNode2Filter")'
                                [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-destination-node-level2>
                        </div>
                    </div>
                </div>
            </div>

            <!------------------------------- Third Degree ---------------------------->
            <div [ngStyle]="{'display' : showLevels == false ? 'none' : 'block'}">
                <div *ngIf="currentLevel > 2" class="horizonal-filter-bar" style="width: 98%;margin-top: 17px;">
                    <div class="filter-inner">
                        <div class="filter-left-heading" style="font-size:16px;">
                            3<sup>rd</sup> Degree
                            <span *ngIf="currentLevel == 3" title="Delete Third Degree" style="cursor: pointer;"
                                (click)="deleteThirdDegree('deleteLevel3')">
                                <i class="bi bi-trash3"></i>
                            </span>
                        </div>
                        <div class="filter-single" style="width:15%;">
                            <app-filter-node-select-level3 (onSelectNode3)='nodeChanged3("nodeLevel3Filter")'
                                [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-node-select-level3>
                        </div>
                        <div class="filter-single" style="width:30%;">
                            <app-filter-source-node-level3
                                (onSelectSourceNode3)='sourceNodeChanged3("sourceNode3Filter" , $event)'
                                [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-source-node-level3>
                        </div>
                        <div class="filter-single" style="width:25%;">
                            <app-filter-edge-type-level3 (onSelectEdgeType3)='edgeTypeChanged2("edgeType3Filter")'
                                [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-edge-type-level3>
                        </div>
                        <div class="filter-single" style="width:30%;">
                            <app-filter-destination-node-level3
                                [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-destination-node-level3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="add-level-handler pe-2 ml-4 mr-4" style="height: 24px;">
                <div class="float-start">
                    &nbsp;&nbsp;&nbsp;<button class="btn btn-light btn-sm btn-custom-sm" (click)="onAddLevel()"
                        [disabled]="isAddLevelChk">+ Add Level</button>
                    <button class="btn btn-light btn-sm ms-2 btn-custom-sm" *ngIf="currentLevel > 1"
                        (click)="onToggleLevel()">{{showLevels == false ? 'Show' : 'Hide'}} Level</button>
                </div>
                <div class="float-end">
                    <button class="btn btn-sm ms-2 btn-custom-sm" style="background-color: #B765A3;color: #fff;"
                        (click)="resetAllFilters()"><i class="bi bi-arrow-clockwise" title="Reset"></i></button>&nbsp;
                    <button class="btn btn-sm btn-custom-sm"
                        style="background-color: #B765A3;color: #fff; border:1px solid #B765A3;"
                        [disabled]="isSubmitChk" (click)="onSubmit()"><i class="bi bi-search" title="Search"
                            alt="Search"></i> Submit</button>
                </div>
            </div>
        </div>

        <div class="inner-wrapper">
            <div class="right-article full-width" [ngClass]="showSidebar == false ? 'full-width' : ''">
                <!--<app-event-chart></app-event-chart>-->
                <div class="tab-slider--nav">
                    <div class="custom-nav-tabs">
                        <ul class="nav nav-tabs ml-2" id="myTab" role="tablist" style="margin-left: 14px;">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="tab0-tab" data-bs-toggle="tab"
                                    data-bs-target="#tab0" type="button" role="tab" aria-controls="tab0"
                                    aria-selected="true" (click)="onSubmitTab($event, 'map')">Map</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1"
                                    type="button" role="tab" aria-controls="tab1" aria-selected="true"
                                    (click)="onSubmitTab($event,'details')">Details</button>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2"
                                    type="button" role="tab" aria-controls="tab2" aria-selected="false"
                                    (click)="onSubmitTab($event, 'relation')">Relation</button>
                            </li> -->
                            <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button"
                                    role="tab" aria-controls="tab3" aria-selected="false">Distribution
                                    by Association Type</button>
                            </li> -->
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4"
                                    type="button" role="tab" aria-controls="tab4" aria-selected="false"
                                    (click)="onSubmitTab($event, 'articlecount')">Visual Charts</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="tab5-tab" data-bs-toggle="tab" data-bs-target="#tab5"
                                    type="button" role="tab" aria-controls="tab5" aria-selected="false"
                                    (click)="onSubmitTab($event, 'ct')">Clinical Trial (Beta)</button>
                            </li>
                            <!-- <li class="nav-item ms-auto" role="presentation">
                                <div class="dropdown rank-dropdown">
                                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                                        id="rank-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Select Rank
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="rank-dropdown">
                                        <li class="dropdown-item"><input type="checkbox"> Rank 1</li>
                                        <li class="dropdown-item"><input type="checkbox"> Rank 2</li>
                                    </ul>
                                </div>
                            </li> -->
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab0" role="tabpanel" aria-labelledby="tab0-tab">
                                <!-- <app-filter-submit (onSelectSubmit)='submitChanged($event)'
                                    [UpdateFilterDataApply]="doUpdateFilterDataApply"></app-filter-submit> -->
                                <app-network-map [ProceedDoFilterApply]="doFilterApply"></app-network-map>
                            </div>
                            <div class="tab-pane p-2 fade" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">

                                <app-event-description [ProceedDoFilterApply]="doFilterApplyTab2"
                                    [toggleLevels]="showLevels" [currentLevel]="currentLevel"></app-event-description>
                                <!-- <app-details-of-assoc-data [ProceedDoFilterApply]="doFilterApply"></app-details-of-assoc-data> -->
                            </div>
                            <!-- <div class="tab-pane p-2 fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                                <app-distribution-by-rel-grp
                                    [ProceedDoFilterApply]="doFilterApplyTab3"></app-distribution-by-rel-grp>
                                <app-distribution-by-relation-type
                                    [ProceedDoFilterApply]="doFilterApplyTab3"></app-distribution-by-relation-type>
                            </div> -->
                            <!-- <div class="tab-pane p-2 fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                                <app-event-description [ProceedDoFilterApply]="doFilterApply"></app-event-description>
                            </div> -->
                            <div class="tab-pane p-2 fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                                <app-distribution-by-rel-grp
                                    [ProceedDoFilterApply]="doFilterApplyTab4"></app-distribution-by-rel-grp>
                                <app-pmid-count-with-gene-and-disease
                                    [ProceedDoFilterApply]="doFilterApplyTab4"></app-pmid-count-with-gene-and-disease>
                            </div>

                            <div class="tab-pane p-2 fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                                <!-- <app-ct-index></app-ct-index> -->
                                <app-ct_disease_assoc [ProceedDoFilterApply]="doFilterApplyTab5"></app-ct_disease_assoc>
                                <app-ct_investigator_rels
                                    [ProceedDoFilterApply]="doFilterApplyTab5"></app-ct_investigator_rels>
                                <app-nct-investigator-name
                                    [ProceedDoFilterApply]="doFilterApplyTab5"></app-nct-investigator-name>
                                <app-ct-investigator-rels-by-stats
                                    [ProceedDoFilterApply]="doFilterApplyTab5"></app-ct-investigator-rels-by-stats>
                                <app-investigator-by-role
                                    [ProceedDoFilterApply]="doFilterApplyTab5"></app-investigator-by-role>
                                <!-- <app-investigator-by-country
                                    [ProceedDoFilterApply]="doFilterApplyTab5"></app-investigator-by-country> -->
                            </div>
                            <!-- <div class="tab-pane p-2 fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">                              
                            </div> -->
                        </div>

                    </div>
                </div>

                <div style="clear:both;">&nbsp;</div>
                <div style="clear:both;">&nbsp;</div>
                <div style="clear:both;">&nbsp;</div>
                <app-footer></app-footer>
            </div>
        </div>
    </section>
</div>