.text-white {
    color: #fff;
}

.close {
    opacity: 1;
}

.modal-header {
    padding: 7px 20px;
    border: none;
    background: #7d689f;

    h4 {
        font-size: 20px;
        margin-top: 0px;
    }
}

.filter-single-left {
    h4 {
        font-size: 16px;
        padding: 10px 15px;
        color: #fff;
        border-bottom: 1px solid #1767c5;
    }

    .filter-single-body {
        padding: 10px 15px;

        .custom-control-description {
            font-size: 13px;
        }
    }

    .search-box {
        position: relative;
        margin-bottom: 10px;

        input {
            font-size: 13px;
            border-radius: 5px;
        }

        span {
            position: absolute;
            right: 10px;
            top: 12px;
            font-size: 14px;
            color: #606060;
        }
    }
}


.destination-node-accordion2 {
    button {
        padding: 7px 10px;
        font-size: 13px;

        &:focus {
            box-shadow: none;
        }

        &::after {
            width: 10px;
            height: 10px;
            background-size: 10px;
        }

        input[type=checkbox]{
            width:15px;
            height: 15px;
            min-width:15px;
            min-height: 15px;
            margin-right: 5px;

            &:focus{
                box-shadow: none;
            }
        }
    }

    .accordion-body {
        padding: 7px 10px;
        font-size: 13px;

        .subcategory-badges {
            display: flex;
            flex-wrap: wrap;
            column-gap: 5px;

            .badge {
                white-space: break-spaces;
                margin-bottom: 3px;
                line-height: initial;
            }
        }
    }
}