.hide{
    display: none;
}
.show{
    display:inline-grid
}
.filter-name{
    color:red;
}
.filter-elem{
    color: black;
}
.limitTextHeight {
    height: 20px;
    overflow: hidden;
}

div span.only-show-on-hover {
    visibility: hidden;
}
div:hover span.only-show-on-hover  {
    visibility: visible;
}

.containerComment {
    font-size: 16px;
    line-height: 16px;
    height: 18px;
    overflow: hidden;
}
.show {
    overflow: visible;
    height: auto;
}
