<div class="sidebar-card">
  <div class="heading">
      <h4>Destination Nodes</h4> <img *ngIf="loading" src="../../assets/images/small-loader.gif" width="18px" />
  </div>
  <div class="body" *ngIf="destinationNodes.length > 0" style="height: 150px;overflow: auto;">
      
      <div class="search-input">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="destinationNodeFilter" />
      </div>

      <div class="mb-1 form-check" *ngFor="let destinationNode of destinationNodes | DestinationNodeFilterPipe:destinationNodeFilter">
        <input class="form-check-input" type="checkbox" name="destinationNodes" id="defaultCheck2" [value]="destinationNode"
          [checked]="selectedDestinationNodes.indexOf(destinationNode.destination_node)>-1 " (change)="selectDestinationNode(destinationNode,$event)">
        <label class="form-check-label" for="defaultCheck2">
          {{destinationNode.destination_node_name}}
        </label>
      </div>

      <span *ngIf="selectedDestinationNodes.length > 0" style="cursor: pointer; float:right;" class="float-left"
        (click)="resetDestinationNode();">Reset</span>
      <span *ngIf="destinationNodes.length > 2" style="cursor: pointer" class="float-right"
        (click)="SeeMore($event,seeMoreDestinationNodeModal);">{{destinationNodes.length-10}}
        More</span>
  </div>
</div>


<!--<div class="card-panel-box-detail" *ngIf="destinationNodes.length <= 0">
  <div class="" *ngIf="(destinationNodesCheck==false)">
    <i (click)="reloadNode()" style="color:white; cursor: pointer;" title="Reload" class="fa fa-refresh">&nbsp;
      Click here to load Nodes</i>
  </div>
  <div *ngIf="(destinationNodesCheck==true)">
    <i style="color:white" title="Reload">&nbsp;
      No news exists for any node</i>
  </div>
</div>-->


<ng-template #nodeSelectsWarningModal let-c="close" let-d="dismiss">
  <div class="modal-header    modal-lg" style="background: #ff0c66 !important;">
    <h4 class="modal-title">Warning</h4>
    &nbsp;
    <button class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body white_bg without_bord_rad">
    <h6 style="color:#ff0c66">You unchecked the "Select All" option. If you will Proceed with this then result-set
      of
      with all gene(s).
      Otherwise you may choose indications and proceed.</h6>
    <div class="pull-right">
      <button class="btn btn-hero-info btn-demo" (click)="closePopup()">Okay</button>
    </div>
  </div>
</ng-template>

<ng-template #seeMoreDestinationNodeModal let-c="close" let-d="dismiss">
  <div class="modal-body without_bord_rad indicators-modal">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-12">
          <h6 class="text-white">Select Nodes
            <span aria-hidden="true" aria-label="Close" (click)="seeMoreClosePopup()"
              class="close pull-right">&times;</span>
            <div class="clearfix"></div>
          </h6>
        </div>
        <div class="col-md-12">
          <div class="indicator_search">
            <input class="form-control" type="text" [(ngModel)]="destinationNodeFilterText">
            <span class="fa fa-search "></span>
          </div>

          <div class="indicator_alpha">
            <span *ngFor="let destinationNodes of alphabeticallyGroupedDestinationNodes">
              <span class="text-white" (mouseleave)="mouseOverON=''" (mouseover)="mouseOverON =destinationNodes.key"
                (click)="scrollToView(destinationNodes.key)">{{destinationNodes.key}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="custom-modal-body">
      <div class="my-div-content singleIndicatorFilter" id="{{destinationNodes.key}}"
        [ngClass]="(mouseOverON==destinationNodes.key ) ?'cls-highlight':''"
        *ngFor="let destinationNodes of alphabeticallyGroupedDestinationNodes">
        <div class="two-column_popup demo-checkboxes-radio"
          *ngFor="let destinationNode of destinationNodes.value | DestinationNodeFilterPipe:destinationNodeFilterText">
          <input type="checkbox" name="destinationNodes" [value]="destinationNode"
            [checked]="selectedDestinationNodes.indexOf(destinationNode.destination_node)>-1 "
            (change)="selectDestinationNode(destinationNode,$event,'nodeSelectsWarningModal')">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description text-dark">&nbsp;&nbsp;{{destinationNode.destination_node_name}}</span>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="modal-footer">
      <div class="demo-checkboxes-radio">
        <input type="checkbox" name="destinationNodes" [(ngModel)]="isAllSelected" [value]="destinationNodes" [checked]=""
            (change)="selectAll($event,nodeSelectsWarningModal);">
        <span class="custom-control-description text-dark">&nbsp;Select All</span>
      </div>
      <button class="btn btn-outline-primary" [disabled]="disableProceed" (click)="seeMoreproceed()">Proceed</button>
      <button class="btn btn-danger" (click)="seeMoreClosePopup()">Close</button>
    </div>
  </div>
</ng-template>
